<div class="span12 about_page">
	<div class="row-fluid">
	<div class="span12 text-center">
		<h1>Your Fast Agent Team</h1>
	</div>
		<br />
	</div>
	<div class="row-fluid about_page_div">
		<div class="span2 offset1">
			<img src="assets/MJRElogo.png" class="about_page_mjre">
		</div>
		<div class="span6 offset1">
			<h3>MICHAEL JAMES Real Estate</h3>
			<p>Michael James Real Estate is a full-service general real estate brokerage with an emphasis on the purchase, sale, rental and marketing of select residential rehab properties. We specialize in homes in Oakland, Alameda, Walnut Creek, San Ramon and surrounding area. Since its establishment in 2003, Michael James Real Estate has offered comprehensive real estate sales solutions for buyers, sellers, investors and developers. As East Bay’s most innovative real estate brokerage we deliver a brand of service based on integrity, informed by expertise and practiced in efficiency. Our firm’s integrated team of accomplished professionals deals in every aspect of real estate transactions.</p>
		</div>
	</div>
	<br />
	<br />
	<div class="row-fluid about_page_div">
		<div class="span2 offset1">
			<img class="about_page_tfa" src="assets/fastagents.png">
		</div>
		<div class="span6 offset1">
			<h3>Team Fast Agents</h3>
			<p>Michael James Real Estate is a full-service general real estate brokerage with an emphasis on the purchase, sale, rental and marketing of select residential rehab properties. We specialize in homes in Oakland, Alameda, Walnut Creek, San Ramon and surrounding area. Since its establishment in 2003, Michael James Real Estate has offered comprehensive real estate sales solutions for buyers, sellers, investors and developers. As East Bay’s most innovative real estate brokerage we deliver a brand of service based on integrity, informed by expertise and practiced in efficiency. Our firm’s integrated team of accomplished professionals deals in every aspect of real estate transactions.</p>
		</div>
	</div>
	<div class="row-fluid about_page_div">
		<div class="span2 offset1">
			<img class="img-circle agent_circle" src="assets/kenny.jpg">
		</div>
		<div class="span6 offset1">
			<h3>Kenny Troung</h3>
			<span class="small">510.545.6932</span><br />
			<p><a href="mailto:kenny@fastagent.me" class="orange_text"><span class="small">kenny@fastagent.me</span></a></p>
			<p>Michael James Real Estate is a full-service general real estate brokerage with an emphasis on the purchase, sale, rental and marketing of select residential rehab properties. We specialize in homes in Oakland, Alameda, Walnut Creek, San Ramon and surrounding area. Since its establishment in 2003, Michael James Real Estate has offered comprehensive real estate sales solutions for buyers, sellers, investors and developers. As East Bay’s most innovative real estate brokerage we deliver a brand of service based on integrity, informed by expertise and practiced in efficiency. Our firm’s integrated team of accomplished professionals deals in every aspect of real estate transactions.</p>
		</div>
	</div>
		<div class="row-fluid about_page_div">
		<div class="span2 offset1">
			<img class="img-circle agent_circle" src="assets/kevin.jpg">
		</div>
		<div class="span6 offset1">
			<h3>Kevin Lowe</h3>
			<span class="small">510.545.6932</span><br />
			<p><a href="mailto:kenny@fastagent.me" class="orange_text"><span class="small">kenny@fastagent.me</span></a></p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;I am a dedicated professional that is passionate about helping others. I work hard for each client and make sure they receive the care and attention they deserve during one of the most excited periods in their lives. I strive to help buyers buy a place they can enjoy and call home for many years, as well as assist sellers sell their home in a timely fashion. 
				</p>
				<p>
				&nbsp;&nbsp;&nbsp;&nbsp;I was born and raised in the Bay Area, and graduated from San Francisco State University with a Bachelor of Arts in Psychology. When I am not working, I enjoy spending time with my family and friends, playing sports, and watching the A’s, Giants, Raiders, 49ers, and Warriors games.
			</p>
		</div>
	</div>
		<div class="row-fluid about_page_div">
		<div class="span2 offset1">
			<img class="img-circle agent_circle" src="assets/david.jpg">
		</div>
		<div class="span6 offset1">
			<h3>David Nguyen</h3>
			<span class="small">510.545.6932</span><br />
			<p><a href="mailto:kenny@fastagent.me" class="orange_text"><span class="small">kenny@fastagent.me</span></a></p>
				<p>
					Michael James Real Estate is a full-service general real estate brokerage with an emphasis on the purchase, sale, rental and marketing of select residential rehab properties. We specialize in homes in Oakland, Alameda, Walnut Creek, San Ramon and surrounding area. Since its establishment in 2003, Michael James Real Estate has offered comprehensive real estate sales solutions for buyers, sellers, investors and developers. As East Bay’s most innovative real estate brokerage we deliver a brand of service based on integrity, informed by expertise and practiced in efficiency. Our firm’s integrated team of accomplished professionals deals in every aspect of real estate transactions.
				</p>
		</div>
	</div>
</div>