<div class="about_page">
	<div class="span12 text-center">
		<h1>Your Fast Agent Team</h1>
		<br />
	</div>
	<div class="row-fluid about_page_div">
		<div class="span2 offset1">
			<img src="assets/MJRElogo.png" class="about_page_mjre">
		</div>
		<div class="span6">
			<h3>MICHAEL JAMES Real Estate</h3>
			<p>Michael James Real Estate is a full-service general real estate brokerage with an emphasis on the purchase, sale, rental and marketing of select residential rehab properties. We specialize in homes in Oakland, Alameda, Walnut Creek, San Ramon and surrounding area. Since its establishment in 2003, Michael James Real Estate has offered comprehensive real estate sales solutions for buyers, sellers, investors and developers. As East Bay’s most innovative real estate brokerage we deliver a brand of service based on integrity, informed by expertise and practiced in efficiency. Our firm’s integrated team of accomplished professionals deals in every aspect of real estate transactions.</p>
		</div>
	</div>
	<br />
	<br />
	<div class="row-fluid about_page_div">
		<div class="span2 offset1">
			<img src="assets/fastagents.png">
		</div>
		<div class="span6">
			<h3>Team Fast Agents</h3>
			<p>Michael James Real Estate is a full-service general real estate brokerage with an emphasis on the purchase, sale, rental and marketing of select residential rehab properties. We specialize in homes in Oakland, Alameda, Walnut Creek, San Ramon and surrounding area. Since its establishment in 2003, Michael James Real Estate has offered comprehensive real estate sales solutions for buyers, sellers, investors and developers. As East Bay’s most innovative real estate brokerage we deliver a brand of service based on integrity, informed by expertise and practiced in efficiency. Our firm’s integrated team of accomplished professionals deals in every aspect of real estate transactions.</p>
		</div>
	</div>
	<div class="row-fluid about_page_div">
		<div class="span2 offset1">
			<img class="img-circle agent_circle" src="assets/kenny.png">
		</div>
		<div class="span6">
			<h3>Kenny Troung</h3>
			<span class="small">Agent</span><br>
			<span class="small">510.545.6932</span><br />
			<p><a href="mailto:kenny@fastagent.me" class="orange_text"><span class="small">kenny@fastagent.me</span></a></p>
			<p>Kenny was ranked the #3 agent in Alameda County for closed homes sold. He is a branded #fastagent who has inspired many in Alameda counties Real Estate industry with his cutting edge visions.</p>
		</div>
	</div>
		<div class="row-fluid about_page_div">
		<div class="span2 offset1">
			<img class="img-circle agent_circle" src="assets/kevin.png">
		</div>
		<div class="span6">
			<h3>Kevin Lowe</h3>
			<p>
				Kevin was born in 1983 to Brian and Cindy Lowe.  Born and raised in Oakland, California, he grew up the youngest of three boys.  His two older brothers, Jason and Mike were avid sports fans and Kevin soon followed in their footsteps playing on his school baseball and basketball teams.    
			</p>
			<p>
				Kevin graduated in 2001 from Skyline High School and was accepted to San Francisco State University.  In 2007 Kevin completed his undergraduate, with a Bachelors in Psychology.  After graduating Kevin started working for various companies in the health industry. It wasn't until 2013 when a friend suggested Real Estate that Kevin found his true passion.  In his first month, Kevin closed three deals
			</p>
		</div>
	</div>
		<div class="row-fluid about_page_div">
		<div class="span2 offset1">
			<img class="img-circle agent_circle" src="assets/david.png">
		</div>
		<div class="span6">
			<h3>David Nguyen</h3>
				<p>
					Hello people! My name is David and I'm super excited you're reading my bio! I was born on July 13th, 1983 in Oakland, CA.  I absolutely love the city and intend on spending the rest of my life here.
				</p>
		</div>
	</div>
</div>