<div class="row-fluid">
	<div class="span4">
		<img src="assets/MJRElogo.png">
	</div>
	<div class="span8">
		<p>Michael James Real Estate is a full-service general real estate brokerage with an emphasis on the purchase, sale, rental and marketing of select residential rehab properties. We specialize in homes in Oakland, Alameda, Walnut Creek, San Ramon and surrounding area. Since its establishment in 2003, Michael James Real Estate has offered comprehensive real estate sales solutions for buyers, sellers, investors and developers. As East Bay’s most innovative real estate brokerage we deliver a brand of service based on integrity, informed by expertise and practiced in efficiency. Our firm’s integrated team of accomplished professionals deals in every aspect of real estate transactions.</p>
	</div>
</div>
<br />
<br />
<div class="row-fluid">
	<div class="span4">
		<img src="assets/tfalogo.png">
	</div>
	<div class="span8">
		<p>Michael James Real Estate is a full-service general real estate brokerage with an emphasis on the purchase, sale, rental and marketing of select residential rehab properties. We specialize in homes in Oakland, Alameda, Walnut Creek, San Ramon and surrounding area. Since its establishment in 2003, Michael James Real Estate has offered comprehensive real estate sales solutions for buyers, sellers, investors and developers. As East Bay’s most innovative real estate brokerage we deliver a brand of service based on integrity, informed by expertise and practiced in efficiency. Our firm’s integrated team of accomplished professionals deals in every aspect of real estate transactions.</p>
	</div>
</div>