<div class="contact_page">
	<div class="row-fluid">
		<div class="span3 contact_left text-center"> 
      <h3>Contact Us</h3><br />
      <p>
      	Team Fast Agents
      </p>
      <p>
      	MICHAEL JAMES Real Estate
      </p>
      <p>
      	1211 Embarcadero Suite #202
      </p>
      <p>
      	Oakland, CA 94606
      </p>
		  <form>
		    <input type="text" placeholder="Name">
		    <input type="text" placeholder="Email">
		    <textarea rows="4" placeholder="Questions or comments?"></textarea>
		    <div class="form-actions">
		      <button type="submit" class="btn btn-primary">Submit</button>
		    </div>
		  </form>
		  	<div class="social_icons">
		     <tr>
		      <td><a href="https://www.facebook.com/FastAgent"><i class="icon-facebook-sign icon-3x"></i></a></td>
		      <td><a href="https://www.twitter.com/kenny_troung"><i class="icon-twitter-sign icon-3x"></i></a></td>
		      <td><a href="http://www.pinterest.com/kennyeast/real-estate/"><i class="icon-pinterest-sign icon-3x"></i></a></td>
		      <td><a href="https://www.linkedin.com/in/fastagent"><i class="icon-linkedin-sign icon-3x"></i></a></td>
		      <td><a href="http://www.instagram.com/kenny_east"><i class="icon-instagram icon-3x"></i></a></td>
		      <td><a href="https://plus.google.com/u/0/105933204608970323186/posts"><i class="icon-google-plus-sign icon-3x"></i></a></td>
		    </tr>
		  </div>
		</div>
		<div class="span8 text-center">
			<h1 class="mjre_number">510.835.2828</h1>
			<h3 style="color: orange;">teamfastagents@gmail.com</h3>
			<!-- responsive iframe -->
			<div class="Flexible-container">
				<iframe width="540" height="380" frameborder="3" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1211+Embarcadero+%23202,+Oakland,+CA+%E2%80%8E&amp;aq=&amp;sll=37.80207,-122.261133&amp;sspn=0.046455,0.081453&amp;t=h&amp;gl=us&amp;ie=UTF8&amp;hq=&amp;hnear=1211+Embarcadero+%23202,+Oakland,+Alameda,+California+94606&amp;ll=37.787742,-122.251139&amp;spn=0.032559,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1211+Embarcadero+%23202,+Oakland,+CA+%E2%80%8E&amp;aq=&amp;sll=37.80207,-122.261133&amp;sspn=0.046455,0.081453&amp;t=h&amp;gl=us&amp;ie=UTF8&amp;hq=&amp;hnear=1211+Embarcadero+%23202,+Oakland,+Alameda,+California+94606&amp;ll=37.787742,-122.251139&amp;spn=0.032559,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>
		</div>
	</div>
	<div class="row-fluid">
	</div>
</div>