<div class="row-fluid ">
	<div class="span5 text-center">
		<h1>Montclair</h1>
		<img src="assets/montclair.png">
	</div>
	<div class="span3">
	</div>
</div>
<div class="row-fluid">
	<div class="span5 text-center">
		<h1>Carmel</h1>
		<img src="assets/carmel.png">
	</div>
	<div class="span3">
	</div>
</div>
<div class="row-fluid">
	<div class="span5 text-center">
		<h1>Golden Gate</h1>
		<img src="assets/goldengate.png">
	</div>
	<div class="span3">
	</div>
</div>
<div class="row-fluid">
	<div class="span5 text-center">
		<h1>Piedmont</h1>
		<img src="assets/piedmont.png">
	</div>
	<div class="span3">
	</div>
</div>