<div class="row-fluid ">
	<div class="span6 text-center">
		<h1 class="floorplan_title">Montclair</h1>
		<img src="assets/montclair.png">
	</div>
	<div class="span3">
		<br />
		<br />
		<br />
		<p>2 Bedroom</p>
		<p>2 Bathroom</p>
		<p>900 sqft.</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span6 text-center">
		<h1 class="floorplan_title">Carmel</h1>
		<img src="assets/carmel.png">
	</div>
	<div class="span3">
	</div>
</div>
<div class="row-fluid">
	<div class="span6 text-center">
		<h1 class="floorplan_title">Golden Gate</h1>
		<img src="assets/goldengate.png">
	</div>
	<div class="span3">
	</div>
</div>
<div class="row-fluid">
	<div class="span6 text-center">
		<h1 class="floorplan_title">Piedmont</h1>
		<img src="assets/piedmont.png">
	</div>
	<div class="span3">
	</div>
</div>