@import 'bootstrap';
@import 'bootstrap-responsive';
@import "flat-ui";
@media (max-width: 979px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding-top:0px !important;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}

a:link {
	text-decoration: none !important;
}

body {
	padding-top: 70px;
}

h1 {
	margin-bottom: 20px;
}

h3 {
	font-family: "Lato";
}

li {
	list-style: none;
}

textarea {
	height: 200px;
}

#available_units {
	margin-top: 15px;
	margin-bottom: 25px;
}

#main {
	/*margin: 20px auto;*/
	/*float: none;*/
}

.about_us {
	background-color: #34495e;
	color: #fff;
	padding: 3px;
}

.about_page {
	border: 1px solid #DCE4EC;
	background-color: #F6F6F6;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	p {
		padding-right: 30px;
	}
}

.about_parkwoods {
	background-color: #EFEFEF !important;
	margin-top: -20px;
	padding-bottom: 25px;
	border-bottom: 1px solid #DBDBDB;
	p {
		font-family: "Lato";
	}
	h3 {
		font-family: "Lato";
	}
}

.about_page_mjre {
	width: 90%;
	/*padding-right: 30px;*/
}

.about_page_tfa {
	width: 92%;
	padding-right: 30px;
}

.about_page_div {
	margin-top: 25px;
	margin-left: 20px;
}

.about_text p {
	color: #34495e;
  font-size: 14px;
}

.agent_circle {
	max-height: 250px;
	border: 5px solid orange;
}

.blog_title {
	color: #FD8F01;
	a:visited {
		color: #FD8F01;
	}
	a:hover {
		color: #42C7AC;
	}
}

.about_page {
	min-height: 650px;
}

.address {
	padding-top: 60px;
	margin-left: 0px !important;
	p {
		color: #636A70;
		font-size: 18px;
	}
	h3 {
		color: #EE5B34;
	}
}

.available_units {
	background-color: #EFEFEF;
	border: 1px solid #DCE4EC;
}

.blog_body {
	border: 1px solid #DCE4EC;
	background-color: #F6F6F6;
	border-radius: 5px;
	padding-top: 25px;
	margin-bottom: 25px;
	margin-top: 5px;
}

.blog_show {
	min-height: 650px;
	border: 1px solid #DCE4EC;
	background-color: #F6F6F6;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 25px;
}

.blogs {
	margin-bottom: 20px;
}

.blog_image {
	width: 400px;
	margin-top: 20px;
	margin-bottom: 25px;
/*	padding-bottom: 15px;
	border-bottom: 1px solid gray;*/
}

.blog_index {
	background-image: url('images/chromebg.png')
}

.blog_title	{
	margin-bottom: 25px;
}

.carousel {
	margin-top: -17px;
}

.center {
	margin: 0px auto;
}

.clear {
	clear: both;
}

.contact {
	margin-top: 5px;
}

.contact_left {
	margin-top: 138px;
	margin-left: 25px !important;
	margin-bottom: 25px;
	padding-top: 20px;
	border: 1px solid #DCE4EC;
	background-color: #F6F6F6;
	border-radius: 5px;
}

.contact_page {
	min-height: 650px;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.david_brand {
	color: #5A5A5A !important;
	/*background-color: #3498db;*/
	/*display: block;*/
	float: left;
	padding: 20px;
	margin-left: -20px;
	/*margin-bottom: -10px;*/
	font-size: 20px;
	a {
		font-family: "Lato";
		font-size: 20px;
	}
	a:hover {
		background-color: none !important;
	}
}

.description {
	border-bottom: 1px solid gray;
}

.facebook {
	color: #425F9C;
}

.fast {
	width: 160px;
	margin-left: 20px;
	margin-top: 20px;
	a:hover {
		color: #2E2E2E;
	}
}

.featured_box {
	margin: 0px -2px 25px 0px;
	border: 1px solid gray;
	/*border-radius: 5px;*/
	background-color: white;
	min-height: 500px !important;
	img {
		padding-top: 15px;
	}
}

.featured_listings {
	background-color: #EFEFEF;
	border-radius: 2px;
	padding: 5px;
	padding-bottom: 20px;
	margin-top: 0px;
}

.featured_listings div {
	/*border: solid 2px gray;*/
	padding: 3px;
	/*background-color: #fff*/
}

/*.featured_listings span:hover {
	box-shadow: 0px 0px 5px #fff;;
}*/

.featured_listings span:hover .price {
	color: #F49E09;
}

.featured_listings img {
	max-height: 202px;
}

.floorplan_title {
	border: 1px solid #DCE4EC;
	background-color: #F6F6F6;
	border-radius: 5px;
}

.footer {
	background-color: #2E2E2E;
	min-height: 305px;
}

.form-actions {
	background-color: #F6F6F6 !important;
	border-top: none !important;
}

.follow_us {
	margin-top: 25px;
}

.gray_text {
	color: gray;
}

.gray_bar {
	height: 70px;
	background-color: #F7F7F7;
	border-radius: 5px;
}

.header_links a {
	margin-top: 7px;
	font-size: 14px;
	font-family: "Lato";
	text-shadow: none !important;
	color: #5A5A5A !important;
}

.home_images {
	background-color: #F7F7F7;
}

.icon-facebook-sign {
	color: #43609C;
}

.icon-twitter-sign {
	color: #01ADEE;
}

.icon-pinterest-sign {
	color: #CB2027;
}

.icon-linkedin-sign {
	color: #1784BC;
}

.icon-instagram {
	color: #A57B62;
}

.icon-google-plus-sign {
	color: #D03E2F;
}

.images1 {
	padding-top: 20px;
	padding-bottom: 20px;
	h3 {
		font-family: "Lato";
	}
}

.images {
	padding-bottom: 25px;
	img {
	border: 1px solid #7D7D7D;
	margin-bottom: 20px;
	}
}

.iframe {
	border: 1px solid #DCE4EC;
	background-color: #F6F6F6;
	border-radius: 5px;
	padding-top: 25px;
	padding-bottom: 20px;
}

.image2 {
	position: absolute;
	left: 300px;
}

.listing_address {
	font-size: 24px;
	border-bottom: 1px solid gray;
}

.listings_show {
	border: 1px solid red;
}

.logo {
	width: 500px;
	margin: 5px 5px 20px 0px;
}

.mjre {
	height: 32px;
	margin: 22px 0px 0px 15px;
}

.mjre_number {
	margin-top: 35px;
	font-size: 60px;
}

.navbar {
	background-color: white;
}

.navbar-inner {
	background: rgb(255,255,255) !important; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ) !important; /* IE6-9 */
	border-bottom: 1px solid #DBDBDB !important;
}

.orange_text {
	color: #F49E09;
	text-decoration: none;
}

.price {
	background-color: #000;
	position: absolute;
	color: #fff;
	padding: 10px;
	float: left;
	font-size: 1.75em;
	margin-left: -11px;
	margin-top: 6px;
	border-radius: 5px;
}

.show_image {
	float: left;
	width: 300px;
	margin-right: 20px;
	/*margin-left: 20px;*/
	/*border: 2px solid #E8E8E8;*/
}

.social {
	padding-top: 56px;
	margin-left: 0px !important;
	h3 {
		color: #EE5B34;
	}
}

.social_icons {
	margin-bottom: 20px;
	margin-top: 25px;
}

.time {
	color: gray;
}

.tfa_login {
	margin-left: 5px !important;
	margin-top: 17px !important;
	background-color: #FD643B !important;
}

.white_text {
	color: #fff;
}

/* Flexible iFrame */ /* Flexible iFrame */ /* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 75%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border: 1px solid #DCE4EC;
		background-color: #F6F6F6;
		border-radius: 5px;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 25px;
    left: 23px;
    width: 90%;
    height: 90%;
}

.test {
	border: 1px solid blue;
}

