@import 'bootstrap';
@import 'bootstrap-responsive';
@import "flat-ui";

a:link {
	text-decoration: none !important;
}

body {
	padding-top: 70px;
}

h1 {
	margin-bottom: 20px;
}

li {
	list-style: none;
}

.about_us {
	background-color: #34495e;
	color: #fff;
	padding: 3px;
}

.agent_circle {
	max-height: 250px;
	border: 5px solid orange;
}

.blog_body {
	border: 1px solid #2980B9;
	ul {
		float: left;
	}
}

.center {
	margin: 0px auto;
}

.clear {
	clear: both;
}

.david_brand {
	color: #fff !important;
	background-color: #3498db;
	display: block;
	float: left;
	padding: 20px;
	margin-left: -20px;
	margin-bottom: -5px;
	font-size: 20px;
}

.fast {
	width: 160px;
	margin-left: 20px;
	margin-top: 20px;
}

.featured_listings {
	background-color: #2980b9;
	padding: 5px;
	padding-bottom: 20px;
}

.featured_listings div {
	/*border: solid 2px gray;*/
	padding: 3px;
	background-color: #fff
}

.featured_listings div:hover {
	box-shadow: 0px 0px 5px #fff;;
}

.featured_listings div:hover .price {
	color: #F49E09;
}

.featured_listings img {
	max-height: 202px;
}

.footer {
	background-color: #2E2E2E;
	height: 75px;
}

.gray_text {
	color: gray;
}

.logo {
	width: 500px;
	margin: 5px 5px 20px 0px;
}

.mjre {
	height: 50px;
	margin: 13px 0px 0px 15px;
}

.orange_text {
	color: #F49E09;
	text-decoration: none;
}

.price {
	background-color: #000;
	position: absolute;
	color: #fff;
	padding: 10px;
	float: left;
	font-size: 1.75em;
	margin-left: -15px;
	margin-top: -15px;
}

.time {
	color: gray;
}

.white_text {
	color: #fff;
}

