<div class="footer">
	<div class="row-fluid">
		<div class="span4 text-center">
			<a href="http://www.teamfastagents.com"><img src="assets/TFAMJRE.png" class="mjre"/></a>
		</div>
		<div class="span4 social text-center">
			<h3>Follow Us</h3>
				<div class="social_icons">
		     <tr>
		      <td><a href="https://www.facebook.com/FastAgent"><i class="icon-facebook-sign icon-3x"></i></a></td>
		      <td><a href="https://www.twitter.com/kenny_truong"><i class="icon-twitter-sign icon-3x"></i></a></td>
		      <td><a href="http://www.pinterest.com/kennyeast/real-estate/"><i class="icon-pinterest-sign icon-3x"></i></a></td>
		      <td><a href="https://www.linkedin.com/in/fastagent"><i class="icon-linkedin-sign icon-3x"></i></a></td>
		      <td><a href="http://www.instagram.com/kenny_east"><i class="icon-instagram icon-3x"></i></a></td>
		      <td><a href="https://plus.google.com/u/0/105933204608970323186/posts"><i class="icon-google-plus-sign icon-3x"></i></a></td>
		    </tr>
		  </div>
		</div>
		<div class="span4 address text-center">
			<h3>Contact Us</h3>
			<p>Michael James Real Estate<br />
			Team Fast Agents <br />
			1211 Embarcadero #202 <br />
			Oakland, CA 94606<br />
			510.835.2828<br />
			<a href="http://www.teamfastagents.com">http://teamfastagents.com</a>
			</p>
		</div>
	</div>
</div>