<div class="row-fluid">
	<div class="span12 footer">
		<img src="assets/MJRElogo.png" class="mjre"/>
		<img src="assets/fastagentssbs.png" class="fast"/>
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>