<div class="footer">
	<div class="row-fluid">
		<div class="span4">
			<a href="http://www.mymjre.com"><img src="assets/mjrelogolong.png" class="mjre"/></a>
			<a href="http://www.teamfastagents.com"><img src="assets/fastagentssbs.png" class="fast"/></a>
			<%= link_to "Fast Agent Login", new_user_session_path %>
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="span4 social text-center">
			<h3>Get Social</h3>
			<p></p>
		</div>
		<div class="span4 address text-center">
			<h3>Contact Us</h3>
			<p>Michael James Real Estate<br />
			Team Fast Agents <br />
			1211 Embarcadero #202 <br />
			Oakland, CA 94606<br />
			510.835.2828<br />
			<a href="http://www.teamfastagents.com">http://teamfastagents.com</a>
			</p>
		</div>
	</div>
</div>