<div class="row-fluid">
	<div class="span12 footer">
		<a href="http://www.mymjre.com"><img src="assets/mjrelogolong.png" class="mjre"/></a>
		<a href="http://www.teamfastagents.com"><img src="assets/fastagentssbs.png" class="fast"/></a>
		<ul>
			<li><%= link_to "Fast Agent Login", new_user_session_path %></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>